version: '3.8'

services:
  cerebras-proxy:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "18080:8080"
    environment:
      - CEREBRAS_API_KEYS
      - CEREBRAS_COOLDOWN=${CEREBRAS_COOLDOWN:-60}